.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 2px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item h3 {
    margin: 1.2rem 0 2rem;
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.card_stacks {
    display: flex;
    flex-wrap: wrap;
    gap: 0.9rem;
    justify-content: flex-start;

    margin-top: -1.5rem;
    margin-bottom: 2rem;
}

.stack {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;

    background: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
}

.stack:hover{
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

.stack img {
    width: 1.7rem;
}

.stack p {
    color: var(--color-bg);
}